$page-max-width: 1276px;

$mobile-break-point: 1000px;

$primary-main: #4eb3e3;
$primary-dark: #45565e;
$seconday-main: #f8cc5d;

$primary-text: #1f343e;

$secondary-text: #f8f4f9;
$secondary-text-light: #ffffff;
$secondary-text-dark: #6d7a80;
$secondary-text-darker: #434a54;

$error-text: #ed6f82;