@import "../../../styles/variables";

.referal {
  max-width: 544px;
  border: 1px solid $primary-text;
  border-radius: 16px;
  padding: 64px;
  background-color: $secondary-text;

  @media (max-width: $mobile-break-point) {
    padding: 32px 16px;
  }

  .referal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .referal-title {
      font-size: 48px;
      color: $primary-text;
      padding-bottom: 32px;
    }

    .referal-description {
      padding-bottom: 64px;
      font-size: 20px;
      color: $primary-text;
    }

    .referal-rules {
      padding-top: 170px;
      color: $secondary-text-dark;
    }
  }
}
